html,
body {
  padding: 0;
  margin: 0;
  font-family: Noto Sans KR, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen;
  color: rgba(0, 0, 0, 0.87);
  background-color: #F9F9F9;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex-div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flex-div-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-div-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}